@model Jasarsoft.GraniteHouse.Models.Appointments
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h4 class="text-success>Appointment Details</h4>

<div class="container border" style="height: 100px; background-color:aliceblue">
<div class="col-12">
    <div class="row" style="padding-top: 10px">
        <div class="col-2">
            <h5>Full Name</h5>
        </div>
        <div class="col-3">
            <input asp-for="@Model.CustomerName" readonly class="form-control"/>
        </div>
        <div class="col-2"></div>
        <div class="col-2">
            <h5>Email</h5>
        </div>
        <div class="col-3">
            <input asp-for="@Model.CustomerEmail" readonly class="form-control"/>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="row" style="padding-top: 10px">
        <div class="col-2">
            <h5>Phone Number</h5>
        </div>
        <div class="col-3">
            <input asp-for="@Model.CustomerPhoneNumber" readonly class="form-control" />
        </div>
        <div class="col-2"></div>
        <div class="col-2">
            <h5>Date</h5>
        </div>
        <div class="col-3">
            <input asp-for="@Model.AppointmentDate" readonly class="form-control" />
        </div>
    </div>

</div>
</div>